In [7]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

##Trend Analysis
: How have global air pollution levels changed over time? Are there any noticeable trends or patterns?
Regional Comparison: Which regions or countries have the highest and lowest levels of air pollution? Are there any significant differences between regions?
Seasonal Variations:
 How does air pollution vary throughout the year? Are there any seasonal trends or fluctuations?
Impact of Urbanization: Is there a correlation between urbanization rates and air pollution levels? How do pollution levels differ between urban and rural areas?
Correlation Analysis:
 Are there any correlations between air pollution levels and other factors such as population density, industrial activity, or transportation infrastructure?
Health Impact Assessment:
 Can you analyze the potential health impacts of air pollution based on available data? Are there any regions with particularly concerning levels of pollution in terms of public health?
Policy Evaluation:
 How effective have past policies or interventions been in reducing air pollution? Can you identify any successful strategies or areas for improvement?
Predictive Modeling:
 Can you develop a predictive model to forecast future air pollution levels based on historical data and relevant predictors?
Data Visualization: 
Create visualizations to illustrate key findings and trends in the dataset, making it easier for stakeholders to understand and interpret the data.

In [9]:
import pandas as pd
global_pollution_df=pd.read_csv("/home/eli/ReDI/excersice/data/global air pollution dataset.csv")
global_pollution_df.head(10)

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category
0,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good
2,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate
3,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good
4,France,Punaauia,22,Good,0,Good,22,Good,0,Good,6,Good
5,United States of America,Punta Gorda,54,Moderate,1,Good,14,Good,11,Good,54,Moderate
6,Germany,Puttlingen,62,Moderate,1,Good,35,Good,3,Good,62,Moderate
7,Belgium,Puurs,64,Moderate,1,Good,29,Good,7,Good,64,Moderate
8,Russian Federation,Pyatigorsk,54,Moderate,1,Good,41,Good,1,Good,54,Moderate
9,Egypt,Qalyub,142,Unhealthy for Sensitive Groups,3,Good,89,Moderate,9,Good,142,Unhealthy for Sensitive Groups

In [33]:
print(global_pollution_df.shape[0])
print(global_pollution_df.shape[1])

23463
12

In [26]:
global_pollution_df[global_pollution_df['Country'] == 'France']

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category
4,France,Punaauia,22,Good,0,Good,22,Good,0,Good,6,Good
15,France,Raismes,59,Moderate,1,Good,30,Good,4,Good,59,Moderate
29,France,Pontarlier,56,Moderate,1,Good,35,Good,0,Good,56,Moderate
82,France,Haubourdin,48,Good,1,Good,28,Good,4,Good,48,Good
241,France,Aix En Provence,55,Moderate,1,Good,26,Good,3,Good,55,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...
23342,France,Etampes,41,Good,1,Good,22,Good,3,Good,41,Good
23367,France,Creil,50,Good,1,Good,21,Good,5,Good,50,Good
23386,France,Villeurbanne,70,Moderate,1,Good,54,Moderate,0,Good,70,Moderate
23398,France,Soyaux,38,Good,1,Good,38,Good,1,Good,26,Good
23459,France,Sceaux,50,Good,1,Good,20,Good,5,Good,50,Good

In [7]:
global_pollution_df.describe()

,AQI Value,CO AQI Value,Ozone AQI Value,NO2 AQI Value,PM2.5 AQI Value
count,23463.000000,23463.000000,23463.000000,23463.000000,23463.000000
mean,72.010868,1.368367,35.193709,3.063334,68.519755
std,56.055220,1.832064,28.098723,5.254108,54.796443
min,6.000000,0.000000,0.000000,0.000000,0.000000
25%,39.000000,1.000000,21.000000,0.000000,35.000000
50%,55.000000,1.000000,31.000000,1.000000,54.000000
75%,79.000000,1.000000,40.000000,4.000000,79.000000
max,500.000000,133.000000,235.000000,91.000000,500.000000

In [27]:
global_pollution_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23463 entries, 0 to 23462
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             23036 non-null  object
 1   City                23462 non-null  object
 2   AQI Value           23463 non-null  int64
 3   AQI Category        23463 non-null  object
 4   CO AQI Value        23463 non-null  int64
 5   CO AQI Category     23463 non-null  object
 6   Ozone AQI Value     23463 non-null  int64
 7   Ozone AQI Category  23463 non-null  object
 8   NO2 AQI Value       23463 non-null  int64
 9   NO2 AQI Category    23463 non-null  object
 10  PM2.5 AQI Value     23463 non-null  int64
 11  PM2.5 AQI Category  23463 non-null  object
dtypes: int64(5), object(7)
memory usage: 2.1+ MB

In [5]:
global_pollution_df.duplicated().sum()

0

In [2]:
global_pollution_df.isnull().sum()

Country               427
City                    1
AQI Value               0
AQI Category            0
CO AQI Value            0
CO AQI Category         0
Ozone AQI Value         0
Ozone AQI Category      0
NO2 AQI Value           0
NO2 AQI Category        0
PM2.5 AQI Value         0
PM2.5 AQI Category      0
dtype: int64

In [168]:
#deleting the row which contain missing value for city
global_pollution_df.City.dropna(inplace=True)

In [241]:
#fill the nan value with "Missing" 
#global_pollution_df["country"].fillna("Missing",inplace= True)

In [12]:

missing_countries = global_pollution_df[global_pollution_df['country'] == 'Missing']
missing_countries

Empty DataFrame
Columns: [country, city, aqi value, aqi category, co aqi value, co aqi category, ozone aqi value, ozone aqi category, no2 aqi value, no2 aqi category, pm2.5 aqi value, pm2.5 aqi category]
Index: []

##finding value for missing value of 427 conutries

In [250]:
#getting dataset which contains city of the world

city_country_df=pd.read_csv("/home/eli/ReDI/excersice/data/worldcities.csv")

city_to_country=pd.Series(city_country_df.country.values,index=df_city.city).to_dict

country                          Missing
city                  Kingston Upon Hull
aqi value                             33
aqi category                        Good
co aqi value                           1
co aqi category                     Good
ozone aqi value                       17
ozone aqi category                  Good
no2 aqi value                          8
no2 aqi category                    Good
pm2.5 aqi value                       33
pm2.5 aqi category                  Good
Name: 654, dtype: object

In [211]:
df.columns = map(str.lower, df.columns)
df.head()

,country,city,aqi value,aqi category,co aqi value,co aqi category,ozone aqi value,ozone aqi category,no2 aqi value,no2 aqi category,pm2.5 aqi value,pm2.5 aqi category
0,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good
2,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate
3,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good
4,France,Punaauia,22,Good,0,Good,22,Good,0,Good,6,Good

In [11]:

global_pollution_df.columns = map(str.lower, df.columns)
city_to_country_df=pd.read_csv("/home/eli/ReDI/excersice/data/worldcities.csv")


# Create a dictionary from the city-to-country DataFrame
city_to_country_dict = pd.Series(city_to_country_df['country'].values, index=city_to_country_df['city']).to_dict()

# Define the function to update missing country values
def update_country(row, city_to_country_dict):
    if pd.isnull(row['country']) and row['city'] in city_to_country_dict:
        return city_to_country_dict[row['city']]
    else:
        return row['country']

# Apply the function to update missing country values
global_pollution_df['country'] = global_pollution_df.apply(update_country, axis=1, args=(city_to_country_dict,))

# Save the updated DataFrame
global_pollution_df.to_csv('updated_global_pollution.csv', index=False)

In [13]:
global_pollution_df.isna().sum()

country               147
city                    1
aqi value               0
aqi category            0
co aqi value            0
co aqi category         0
ozone aqi value         0
ozone aqi category      0
no2 aqi value           0
no2 aqi category        0
pm2.5 aqi value         0
pm2.5 aqi category      0
dtype: int64